@import url(normalize.css);
@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap");

/* layout */
.container {
  width: 1296px;
  margin: 0 auto;
}
.con-pd {
  padding: 81px 0;
}
.con-top-pd {
  padding-top: 81px;
}

/* heading */
body {
  /* font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 27px; */
  font: 16px/27px "Open Sans", sans-serif;
}
.banner-tt {
  font-size: 55px;
  line-height: 54px;
}
.content-tt {
  font-size: 32px;
  line-height: 32px;
}
.link {
  font-size: 16px;
  line-height: 27px;
  text-decoration: underline;
}
.content-desc {
  font-size: 18px;
}
